<% content_for :title, "Your Recipes"%>

<div class="columns small-12">
  <p id="notice"><%= notice %></p>

  <h1>Your Recipes</h1>
  <%= link_to 'Creat a Recipe', new_recipe_path, {class: "button"} %>
</div>



<% @recipes.each do |recipe| %>
  <div class="columns small-12 recipe-index <%= recipe === @recipes.last ? 'end' : '' %>">

    <div class="pic columns small-3">
      <%= image_tag(recipe.pictures[0].thumb.url) if recipe.pictures[0] %>
    </div>

    <div class="columns small-9">
      <div class="columns small-12">
        <h3><%= link_to recipe.title, recipe %></h3>
      </div>
      <div class="columns small-12">
        <%= link_to 'Edit', edit_recipe_path(recipe), class: "button" %>
        <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
      </div>
    </div>

  </div>
<% end %>
