<p id="notice"><%= notice %></p>

<h2><%= @recipe.title %></h2> | <%= link_to "Fav", fav_path, {method: 'post'} %>


<% if !@recipe.pictures.empty? %>
  <% if @recipe.pictures.count === 1 %>
    <img src="/uploads/<%= @recipe.pictures.first.medium %>"  alt="">
  <% else %>
    <%= render partial: "partials/carousel", locals: {pictures: @recipe.pictures} %>
  <% end %>
<% end %>

<p><%= @recipe.description %></p>

<hr>

<h4>Ingredients</h4>
<ul>
  <% @recipe.ingredients.split(/\r/).each do |i| %>
    <li><%= i %></li>
  <% end %>
</ul>

<h4>Directions</h4>
<ul>
  <% @recipe.directions.split(/\r/).each do |i| %>
    <li><%= i %></li>
  <% end %>
</ul>

<% if @recipe.user === current_user %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %>
<% end %>
