<div class="row">

<!-- Small Nav -->
  <div class="top-bar show-for-small-only">
      <div class="columns small-4" id="title">
        <a href="/">Recipes</a>
      </div>

      <div class="dropdown menu columns small-4" data-dropdown-menu>
        <li>
          <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
          <ul class="menu vertical">
            <li>
              <div class="input-group">
                <input class="input-group-field" type="text" name="search" id="search" placeholder="search">
                <div class="input-group-button">
                  <button class="button" type="submit" id="submit-button">Search</button>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </div>

      <% if user_signed_in? %>
      <ul class="dropdown menu columns small-4" data-dropdown-menu>
        <li>
          <%= link_to current_user.email, edit_user_registration_path %>
          <ul class="menu vertical">
            <li><%= link_to "Your Recipes", recipes_path %></li>
            <li><%= link_to "Fav Recipes", fav_recipes_path %></li>
            <li><%= link_to "Create Recipe", new_recipe_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path %></li>
          </ul>
        </li>
      </ul>
      <% else %>
      <ul class="menu">
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path, {method: 'delete'} %></li>
      </ul>
      <% end %>

  </div>

  <!--  Medium Nav-->

  <div class="top-bar show-for-medium">
    <div class="top-bar-title">
      <a href="/">Recipes</a>
    </div>

      <div class="top-bar-left">
        <div class="menu">
          <li>
            <div class="input-group">
              <input class="input-group-field" type="text" name="search" id="search" placeholder="search">
              <div class="input-group-button">
                <button class="button" type="submit" id="submit-button">Search</button>
              </div>
            </div>
          </li>
        </div>

      </div>

      <div class="top-bar-right">
        <% if user_signed_in? %>
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <%= link_to current_user.email, edit_user_registration_path %>
            <ul class="menu vertical">
              <li><%= link_to "Your Recipes", recipes_path %></li>
              <li><%= link_to "Create Recipe", new_recipe_path %></li>
              <li><%= link_to "Fav Recipes", fav_recipes_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, {method: 'delete'} %></li>
            </ul>
          </li>
        </ul>
        <% else %>
        <ul class="menu">
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        </ul>
        <% end %>

      </div>

  </div>

</div>
