<% content_for :title, "Recipes"%>

<% @recipes.each do |recipe| %>

<% if recipe === @recipes.last %>
  <div class="recipe columns small-12 medium-4 large-3 end">
<% else %>
  <div class="recipe columns small-12 medium-4 large-3">
<% end %>

<% if !recipe.pictures.empty? %>
<img src="<%= recipe.pictures[0].thumb.url %>"  alt="Pictue of <%= recipe.title %>">
<% end %>



    <h3><%= link_to recipe.title, recipe %></h3>
    <p><%= trim_desc recipe.description %></p>
    <hr>
    <p>Submitted by: <em><%= recipe.user.username%></em></p>
  </div>
<% end %>
